@tailwind base;
@tailwind components;
@tailwind utilities;

.book-now-button {
  color: #fa5537;; /* Replace with your default color */
  background-color: hsla(30.96774194,79.48717949%,92.35294118%,1); /* Replace with your default background color */
  transition: color 0.7s, background-color 0.7s;
}

.book-now-button:hover {
  color: hsla(30.96774194,79.48717949%,92.35294118%,1);
  background-color: #fa5537;
  transition: 0.7s;
}

.book-now-button-sticky {
  color: hsla(30.96774194,79.48717949%,92.35294118%,1);
  background-color: #fa5537;
  transition: color 0.7s, background-color 0.7s;
  padding: 10px;
  border-radius: 35px;
  font-size: 14px;
  width: 150px;
  letter-spacing: 0.5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
